.charts {
    padding: 4rem;
  }


/* Charts.css */
.partingline {
  position: relative;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  margin: 20px 0;
  padding-bottom: 10px;
}

.partingline::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 4px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgb(38, 95, 253) 100%);
  box-shadow: 0 4px 8px rgba(38,95,253,0.5);
  border-radius: 2px;
}

.partingline_one {
  width: 80%;
  height: 2px;
  background: #444;
  margin: 0 auto;
  border-radius: 1px;
}

  
  .charts__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  

  .charts__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  

  .charts__items {
    margin-bottom: 24px;
  }
  

  .charts__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  

  .charts__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(50, 58, 73, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  

  .charts__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  

  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  

  .charts__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  

  .charts__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  

  .charts__item__img:hover {
    transform: scale(1.1);
  }
  

  .charts__item__info {
    padding: 20px 30px 30px;
    background: var(--greyText);
  }
  

  .charts__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
 
  .partingline_one {
    border: 2px solid;;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
  }

  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .charts__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .charts__item {
      margin-bottom: 2rem;
    }
  }