.video-container {
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.hero-vid {
    object-fit: cover;
    width: 100%;
    height: 50vh;
    position: absolute;
    z-index: -1;
}

.video-container > .text-container, .video-container > p, .button-container {
    position: absolute;
    z-index: 1; /* Stellen Sie sicher, dass Text und Buttons über dem Video liegen */
    text-align: center; /* Zentriert den Text und die Buttons */
}

.text-container {
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container > h1 {
    font-size: 3vw;
    font-weight: 800;
    //color: #fff;
}

.text-container > .p-author {
    font-size: 2vw;
    font-weight: 350;
    color: #fff;
    margin-top: 0.5em; /* Abstand zwischen h1 und p */
}


.button-container {
    top: 40vh; /* Zentriert die Buttons vertikal */
    display: flex;
}

.buttn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.button-container .buttn {
    font-size: 2vw; /* Relative Schriftgröße für responsives Design */
}

.buttn--primary {
    background-color: var(--primaryColor);
    color: #242424;
    border: 1px solid var(--primaryColor);
}

.buttn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1.5px solid var(--logoColor);
    transition: all 0.3s ease-out;
}

.buttn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.buttn--large {
    padding: 12px 26px;
    font-size: 25px;
    background: var(--blackColor);
}

.buttn--medium:hover, .buttn--large:hover {
    background: var(--logoColor);
    color: #1a1a1a;
    transform: translateY(-1.5px);
    transition: all 0.3s ease-out;
}
